# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
.venv/
venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# Data files
/data/

# Reports
/reports/

# VS Code
.vscode/
